.data {
    margin-left: 30px;
  }
  
  .search {
    display: flex;
    margin: 15px;
  }
  
  .search input {
    height: 25px;
    margin-top: 25px;
    width: 250px;
    border-radius: 15px;
    padding-left: 15px;
  }
  
  .search button {
    width: 90px;
    margin-top: 22px;
    color: white;
    background-color: blue;
  }
  
  .form-container button {
    width: 150px;
    margin: 10px;
    background-color: red;
  }
  
  table button:first-child {
    background-color: yellow;
  }
  
  table button:last-child {
    background-color: red;
  }
  
  /* Enhanced styles for the item list */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .actions {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions button {
    width: 40%;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .search input {
      width: 200px;
    }
  
    .search button {
      width: 70px;
    }
  
    .form-container button {
      width: 120px;
    }
  
    .actions button {
      width: 30%;
    }
  }
  